
  <%#= render 'layouts/error' %>
<!--  <h1 class="h3 mb-3 fw-normal">Add photo to your album</h1>-->

<!--  <img id="editedImage" src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/61a77a4a6e46e5363fbbde1d_purple-pink.png" alt="">-->

<!--  <div class="col-12">-->
    <%#= f.label :email, class: "form-label" %>
    <%#= f.email_field :email, autocomplete: "email", class: "form-control" %>
<!--  </div>-->
<!--  <div class="col-12">-->
    <%#= f.label :password, class: "form-label" %>
    <%# if @minimum_password_length %>
<!--      <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
    <%# end %>
    <%#= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
<!--  </div>-->
<!--  <div class="col-12">-->
    <%#= f.label :password_confirmation, class: "form-label" %>
    <%#= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
<!--  </div>-->

<!--  <div class="col-12">-->
    <%#= f.submit "Sign up", class: "btn btn-primary" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>

<img id="editedImage" src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/61a77a4a6e46e5363fbbde1d_purple-pink.png" alt="">

