<div class="modal p-4 py-md-5" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     id="dropAndUploadModal" aria-labelledby="dropAndUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered ">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cropImageModalLabel">Upload photo</h1>
        <button type="button" class="btn-close close-upload" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
        <div id="upload-alert-container" class="container text-start d-none">
          <div id="upload-alert" class="alert"></div>
        </div>

        <div id="dropzone" class="dropzone position-relative ratio ratio-16x9">
          <div class="border border-secondary text-center mb-3 p-4"
               style="border-style: dashed !important;">
            <div id="dropzoneContainer">
              <div class="dz-preview position-absolute top-0 start-0 bg-white text-center">
                <div class="h-100 w-100 position-relative img-container">
                  <img id="previewImage" class="h-100" data-dz-thumbnail />
                  <div id="imageOverlay" class="overlay bg-black" style="--bs-bg-opacity: .5">
                    <div class="position-absolute top-50 start-50 translate-middle">
                      <button class="btn btn-outline-danger" data-dz-remove>Remove</button>
                    </div>
                  </div>
                  <div id="upload-progress" class="mt-2 progress invisible" role="progressbar" aria-label="image progress"
                       aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" data-dz-uploadprogress></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dz-message d-flex flex-column h-100 w-100 justify-content-center">
              <i class="p-2 fs-1 bi bi-plus-lg"></i>
              <span class="p-2">Click here or drag file</span>
            </div>
          </div>
        </div>

        <form>

        </form>

        <div class="row px-2">
          <div class="col">
            <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal" data-dz-name>Cancel</button>
          </div>
          <div class="col">
            <button id="upload-button" type="button"
                    class="btn btn-lg btn-primary mt-5 w-100">Upload</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
